@import "components/colors";
@import "components/sizes";

body{
    width: 100%;
    padding: 0;
    margin: 0;

}
header{ 
    background-color: $Darkmain;
    display: flex;
    justify-content: space-between;
    align-items: center;
   ul{

       display: flex;
       justify-content: space-around;
       margin: 0%;
       padding: 0%;
       a{
           color: white;
       }
   }
}
.menu{
    width: $menu;
    margin: $margins-header;
}
.logo_up{
    margin: $margins-header;
   
}
main{
    background-color: $Darkmain;
    
}
.information-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-intro{
    display: flex;
    justify-content: center;
    width: $contenedor-inf-up;
    img{
        width: 100%;
    }
}
.text-up{
    width: $contenedor-inf-up;
    text-align: center;
    color: $White;
    img{
        width: 100%;
    }
}