@import "components/colors";
@import "components/sizes";

body{
    width: 100%;
    padding: 0;
    margin: 0;

}
header{ 
    background-color: $Darkmain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
   ul{

       display: flex;
       justify-content: space-around;
       margin: 0%;
       padding: 0%;
       a{
           text-decoration: none;
           color: white;
       }
   }
}
.menu{
    width: $menu;
    margin: $margins-header;
    
}
.logo_up{
    margin: $margins-header;
   
}
main{
    background-color: $Darkmain;
    
}
.information-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-intro{
    display: flex;
    justify-content: center;
    width: $contenedor-inf-up;
    img{
        width: 100%;
    }
}
.text-up{
    width: $contenedor-inf-up;
    text-align: center;
    color: $White;
    img{
        width: 100%;
    }
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $margin-op-con;
}
.options-container{
    width: 70%;
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: space-between;
}

.options-up{
    width: 40%;
    margin: $margins-op-up;
    color: $White;
}
.get{
    border: none;
    color: $White;
    border-radius: 10px;
    width: 22%;
    height: 30px;
    background: linear-gradient(to right, $Cyan, $Blue);
    
}
.cont-center{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $White;

    img{
        width: 100%;
    }
    div{
        width: 40%;
        padding: 2%;
    }
    .img-productive{
        width: 45%;
    }
    a{

    color: aqua;
    }

}
.container-profile{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-image: url(/images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 3% 22%;

    
}
.profile{
    margin: 10% 0 10% 0%;
    width: 27%;
    border-radius: 5px;
    color: $White;
    background-color: $testimonials;
    p{
        margin-top: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
        margin-left: 10%;
    }
}
.descriptio-profile{
    display: flex;
    align-items: center;
    margin: 10%;
        
       
      img{
          height: 10%;
          width: 30px;
          border-radius: 30px;
      }
      div{
          margin: 0% 0% 0% 3%;
          padding: 0%;
          p{
              padding: 0%;
              margin: 0%;
          }
          h5{
            padding: 0%;
            margin: 0%;
          }
      }
}
.contenedor{
    width: 100%;
    height: 200px;
   position: relative;
}
.sign-up{
    position: absolute;
    width: 60%;
    background-color: $testimonials;
    padding: 15px;
    text-align: center;
    color: $White;
    top: 20%;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        width: 80%;
    }
    input{
        width: 60%;
        height: 40px;
        border-radius: 20px;
    }
    
}
.get-under{
    border: none;
    color: $White;
    border-radius: 20px;
    width: 20%;
    height: 40px;
    background: linear-gradient(to right, $Cyan, $Blue);
}
.sign-up-data{ 
    display: flex;
    margin: 10px;
    justify-content: space-around;
    width: 100%;
}
footer{
    background-color: $Darkfooter;
    display: flex;
    height: 300px;
    align-items: baseline;
    color: $White;
    justify-content: space-evenly;
    

}
.descripcion-footer{
    width: 25%;
    margin: 5%;

}
.contact{
    width: 15%;
    
}
.first-option{
    width: 15%;
    ul{
        display: flex;
        flex-direction: column;
        a{
            margin: 5%;
            text-decoration: none;
            color: $White;
        }
    }
    
}
.icons{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
}



.cont1{
    background-color: royalblue;
    width: 100%;
    height: 300px;
}
.cont2{
    width: 100%;
    height: 200px;
    background-color: aqua;
}
.centrado{
    width: 80%;
    height: 100px;
    background-color: black;
}
@media only screen and (max-width: 375px) {
    body{
        width: 100%;
    }
    header {
    .logo_up{
        width: 25%;
        margin: 20px 0px 20px 13px;
    }
    .logo{
        width: 100%
    }
    .menu{
        width: 60%;
        margin: 20px 20px 20px 0px;
    }
}
.information-up{
    .img-intro{
        width: 90%;
        img{
            width: 100%;
        }
    }
    .text-up{
    width: 90%;       
}
}

.get{
    border-radius: 18px;
    width: 70%;
}
.options{
    width: 100%;
    margin: 12% 0% 12% 0%;
    div{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 20%;
        }
    }
}

  }
  

